<div class="d-grid gap-2 mt-3 mb-3">
    <button class="btn btn-lg monBtn" type="button">LISTE DES MARQUES</button>
</div>


<ng-container *ngIf="listeMarques">

    <div class="tableUserChat">

        <div class="d-flex" style="display: flex; justify-content: space-between;">

            <form>
                <div class="mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Rechercher:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-filtering-search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" class="form-control" type="text">
                    </div>
                </div>
            </form>

            <div class="col-xs-3 col-sm-auto">
                <button class="btn btn-success" style="margin-left: 5px;" data-bs-toggle="modal" data-bs-target="#exampleModalAddMarque" (click)="onInitAddFG()">Ajouter une marque</button>
            </div>
        </div>




        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of listeMarques | marqueFilter:searchValue | slice: (page-1) * pageSize : page * pageSize ; index as i ">
                    <td>{{i+1}}</td>
                    <td>{{m.libelle_marque}}</td>
                    <td style="display: flex;">
                        <div class="d-flex " style="justify-content : space-evenly;">
                            <div>
                                <button type="button" class="btn btn-info" (click)="onGetDataToUpdate(m)" data-bs-toggle="modal" data-bs-target="#exampleModalModifyMarque">
                                  <i class="bi bi-pencil-square" data-bs-toggle="modal"  data-bs-target="#exampleModalModifyMarque"></i></button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger " style="margin-left: 15px;" (click)="onGetDelete(m)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="listeMarques.length"></ngb-pagination>




</ng-container>











<div class="modal fade" id="exampleModalAddMarque" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marque | Ajout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="newAddMarqueFormGroup">

                    <input type="number" formControlName="id" class="form-control" id="recipient-name" type="hidden">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nom de la marque:</label>
                        <input type="text" formControlName="libelle_marque" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" [disabled]="!newAddMarqueFormGroup.valid" (click)="onSaveMarque()" data-bs-dismiss="modal" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="exampleModalModifyMarque" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marque | Modification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="newAddMarqueFormGroup">

                    <input type="number" formControlName="id" class="form-control" id="recipient-name" type="hidden">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nom de la marque:</label>
                        <input type="text" formControlName="libelle_marque" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" [disabled]="!newAddMarqueFormGroup.valid" (click)="onSaveModify()" data-bs-dismiss="modal" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>
