<div class="d-grid gap-2 mt-3 mb-3">
    <button class="btn btn-lg monBtn" type="button">LISTE DES CLIENTS</button>
</div>


<ng-container *ngIf="listeClients">

    <div class="tableUserChat">

        <div class="d-flex" style="display: flex; justify-content: space-between;">

            <form>
                <div class="mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Rechercher:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-filtering-search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" class="form-control" type="text">
                    </div>
                </div>
            </form>

            <div class="col-xs-3 col-sm-auto">
            </div>
        </div>




        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom </th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Commercial</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of listeClients | clientFilter:searchValue | slice: (page-1) * pageSize : page * pageSize ; index as i ">
                    <td>{{i+1}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.prenom}}</td>
                    <td>{{c.latitude}}</td>
                    <td>{{c.commercial.nom}} {{c.commercial.prenom}}</td>
                    <td>
                        <button (click)="onGetModal(c)" class="btn btn-success" style="margin-left: 5px;" data-bs-toggle="modal" data-bs-target="#exampleModalModifyMarque" >Changer de commercial</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="listeClients.length"></ngb-pagination>




</ng-container>










<div class="modal fade" id="exampleModalModifyMarque" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Commercial | Modification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card-body">
                <form [formGroup]="newCommercialFormGroup">
                    <input type="hidden" formControlName="client">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Commercial:</label>
                    <select class="form-control" formControlName="commercial">
                        <option>--Votre choix--</option>
                        <option *ngFor="let c of listeCommercials" value="{{c.id}}">{{c.nom}} {{c.prenom}} </option>
                    </select>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" [disabled]="!newCommercialFormGroup.valid" (click)="onSaveNewCommercial()" data-bs-dismiss="modal" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>