<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">NiceAdmin</span>
                        </a>
                    </div>
                    <!-- End Logo -->


                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                <p class="text-center small">Enter your personal details to create account</p>
                            </div>

                            <form class="row g-3 needs-validation" novalidate [formGroup]="registerFormGroup">
                                <div class="col-12">
                                    <label for="yourName" class="form-label">Nom</label>
                                    <input type="text" name="lastname" class="form-control" id="yourName" required formControlName="nom">
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourName" class="form-label">Prenom</label>
                                    <input type="text" name="firstname" class="form-control" id="yourName" required formControlName="prenom">
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" id="yourEmail" required formControlName="email">
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Password</label>
                                    <input type="email" name="password" class="form-control" id="yourEmail" required formControlName="password">
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourName" class="form-label">Num Identification</label>
                                    <input type="text" name="name" class="form-control" id="yourName" required formControlName="numIdentification">
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Num Tel</label>
                                    <input type="number" name="tel" class="form-control" id="yourPassword" required formControlName="numTel">
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Quartier</label>
                                    <input type="text" name="quartier" class="form-control" id="yourPassword" required formControlName="quartier">
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>



                                <div class="col-12">
                                    <label for="yourName" class="form-label">Nom P à prevenir</label>
                                    <input type="text" name="name" class="form-control" id="yourName" required formControlName="nomPersonnePrevenir">
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourName" class="form-label">Prenom P à prevenir</label>
                                    <input type="text" name="name" class="form-control" id="yourName" required formControlName="prenomPersonnePrevenir">
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Contactnom P à prevenir</label>
                                    <input type="number" name="password" class="form-control" id="yourPassword" required formControlName="contactPersonnePrevenir">
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Type d'utilisateur</label>
                                    <input type="text" name="password" class="form-control" id="yourPassword" required formControlName="typeUser">
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>





                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit" (click)="onSaveCommercial()">Create Account</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
                                </div>
                            </form>

                        </div>
                    </div>



                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>

    </section>
